In [49]:
import pandas as pd
dtype = {"image_id": str, "sketch_id": str}
df = pd.read_csv("/home/borth/sketch2shape/data/siamese_chair_large/sketch_image_pairs.csv", dtype=dtype)

In [50]:
df.head()

                             obj_id image_id  label  split
0  4855971647f786b642e1bb4fe264125f    00000      1  train
1  4855971647f786b642e1bb4fe264125f    00001      1  train
2  4855971647f786b642e1bb4fe264125f    00002      1  train
3  4855971647f786b642e1bb4fe264125f    00003      1  train
4  4855971647f786b642e1bb4fe264125f    00004      1  train

In [51]:
df["split"].value_counts()

split
train    204800
test       8000
val        4096
Name: count, dtype: int64

In [36]:
204800 / 32

6400.0

In [52]:
num_obj_train = 6400
num_obj_val = 128 * 32
num_obj_test = 250 * 32

In [54]:
df["split"] = "train"

In [55]:
df["split"].value_counts()

split
train    216896
Name: count, dtype: int64

In [56]:
df.loc[:num_obj_val-1, "split"] = "val"
df.loc[num_obj_val:num_obj_val + num_obj_test -1, "split"] = "test"

In [57]:
df["split"].value_counts()

split
train    204800
test       8000
val        4096
Name: count, dtype: int64

In [58]:
df.head()

                             obj_id image_id  label split
0  4855971647f786b642e1bb4fe264125f    00000      1   val
1  4855971647f786b642e1bb4fe264125f    00001      1   val
2  4855971647f786b642e1bb4fe264125f    00002      1   val
3  4855971647f786b642e1bb4fe264125f    00003      1   val
4  4855971647f786b642e1bb4fe264125f    00004      1   val

In [59]:
df.to_csv("/home/borth/sketch2shape/data/siamese_chair_large/_sketch_image_pairs.csv", index=None)